{% include "base.html" %}


{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Execute state file</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="{% url 'exec_state' %}" >
                    {% csrf_token %}
                    <div class="col-md-12">
                    <div class="col-md-5">
                        <label>匹配方式</label>
                        <select class="form-control" name="expr_form" id="expr_form">
                            <option value="glob" selected="selected">Glob</option>
                            <option value="list">List</option>
                            <option value="grains">Grains</option>
                            <option value="pillar">Pillar</option>
                        </select>
                    </div>
                    <div id="target_div" class="col-md-5">
                        <label>目标</label>
                        <input class="form-control" name="target" type="text" placeholder="target" />
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="col-md-5" style="padding-top:25px; padding-bottom:20px;">
                        <label>
                            操作
                            <button onclick="flushState()" type="button" style="background-color:transparent; border-color:transparent; position:relative; left:350px; color:green;">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </label>
                        <select class="form-control" name="sls" id="sls">
                            {% for s in state_files %}
                            <option>{{ s.state_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5" style="padding-top:25px;">
                        <label>描述</label>
                        <textarea class="form-control" disabled=disabled rows="4"></textarea>
                    </div>
                    </div>
                    <div class="col-lg-12" style="padding-top:25px; padding-bottom:30px;">
                        <div class="col-md-2 col-md-offset-5">
                            {% if error_msg %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ error_msg }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-2 col-md-offset-1" style="left:35px;">
                            <button type="submit" class="btn btn-success">执行</button>
                            <input type="reset" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <b>最近10次记录</b>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>详细</th>
                                        <th>执行时间</th>
                                        <th>目标</th>
                                        <th>执行操作</th>
                                    </tr>
                                </thead>
                                {% for j in jobs %}
                                <thead>
                                <tr>
                                    <td width="100">
                                        <a href="{% url 'result' j.jid %}">
                                            <button class="btn btn-info btn-circle">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </a>
                                    </td>
                                    <td width="200" style="word-wrap:break-word;">{{ j.start_time|date:"Y-m-d H:i:s" }}</td>
                                    <td width="500" style="word-wrap:break-word;">{{ j.target }}</td>
                                    <td width="200" style="word-break:break-all;">{{ j.sls }}</td>
                                </tr>
                                </thead>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $("#sls").select2();
</script>
<script>
    function flushState(){
        $.ajax("{% url 'flush_state_file' %}",{
            method: 'POST'
        });
        $("#sls").select2();
    }
</script>
<script>
    var t = function(){
        if ($("#expr_form").val() == 'list'){
            $("#target_div").html(`
                    <label>目标</label>
                    <select class="form-control" name="target" id="target" multiple="multiple">
                        {% for minion in minions %}
                        <option value="{{ minion }}">{{ minion }}</option>
                        {% endfor %}
                    </select>
            `);
            $("#target").select2();
        }
        else{
            $("#target_div").html(`
                    <label>目标</label>
                    <input class="form-control" name="target" type="text" placeholder="target" />
            `);
        }
    };

    $(document).ready(function(){
        $("#expr_form").change(t);
    });
</script>
{% endblock %}
